svg {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/** INTERACTIONS **/
.component-panel {
    fill: url(#steel_gradient);
    stroke: #dcdcdc;
    stroke-width: 1px;
}
.component-title {
    font-family: Arial, sans-serif;
    font-weight:bold;
}
.button {
    fill: url(#steel_gradient);
    stroke: #dcdcdc;
    stroke-width: 1px;
    pointer-events: all;
    cursor: pointer;
}
.button:hover {
    fill: url(#steel_gradient_hover);
}
.button-content {
    fill: #666666;
    pointer-events: none;
    font-family: Arial, sans-serif;
    font-weight:bold;
}

.show_hover {
    opacity: 0.0;
}

.show_hover:hover {
    opacity: 1.0;
}

.room-stroke {
    fill: rgba(255, 255, 255, 0);
    stroke: #4f4f4f;
    stroke-width: 4px;
}

.room-floor {
    fill:  url(#steel_gradient);
    opacity: 0.8;
    stroke-width: 3px;
}

.room-name {
    font-weight: bold;
    text-decoration: underline;
}

.dimension {
    font-weight: lighter;
}

.wall {
    fill: url(#stripes);
    stroke: black;
    stroke-width: 1px;
}

use.symbol {
    stroke: red;
    fill: none;
}

.symbol-link {
    fill: none;
    stroke: red;
    stroke-opacity: 0.4;
}